.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.categoryLink {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  color: #008cba;
  background-color: #f0f8ff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #bebebe;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.categoryLink:hover {
  background-color: #dcf6ff;
  color: #f0f8ff;
}

.categoryLink:active {
  transform: scale(0.95);
}
.categoryBox {
  width: 548px;
  height: 100px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #008cba;
  border-radius: 10px;
  color: #008cba;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  background-color: #f0f8ff;
  box-shadow: 2px 2px 5px #bebebe;
  transition: all 0.2s ease-in-out;
  text-align: center; /* добавлено */
}

.categoryBox:hover {
  background-color: #008cba;
  color: #f0f8ff;
}

.category__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.category__loading h1 {
  font-size: 24px;
  font-weight: bold;
}